//
// Header
// --------------------------------------------------

.navbar-static-top {
	border-top: 8px solid @green;
	background: none;

	@media only screen and (max-width : 768px) {
		border-top: 2px solid @green;
	}
}

.navbar-nav {
	float: right;

	li {
		background: url(../img/divider-line.png) no-repeat right 70px;

		a {
			padding: 74px 27px 10px;
			color: @grey;
			font-family: @black;
			font-size: 18px;
			text-align: center;

			@media only screen and (max-width : 1200px) {
				padding: 39px 19px 10px !important;
			}
		}
	}

	@media only screen and (max-width : 768px) {
		float: none !important;
		margin: 0;

		li {
			background: none;
			
			a {
				padding: 0 !important;
				height: 44px;
				line-height: 44px;
				background: #9bc42a;
				font-size: 18px;
				font-family: $regular;
				color: #607537;
				border-bottom: 1px solid #c3dc7f;
			}
		}
	}
}

.navbar-brand {
	float: left;
	padding: 0;
	font-size: 18px;
	line-height: 160px;
	height: 160px;

	@media only screen and (max-width : 1200px) {
		width: 200px  !important;

		img {
			width: 100%  !important;
		}
	}
}

.navbar {
	border-bottom: 0;
	margin: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background: none;

	&:after {
		content: '';
		display: block;
		width: 45px;
		padding-bottom: 0.4em;
		height: 0;
		border-top: 4px solid @light-green;
		margin: 4px auto 0;

	}
	@media only screen and (max-width : 768px) {
		background: #87af17;
		color: #fff;
		font-family: $bold;

		&:after {
			display: none !important;
		}
	}
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	@media only screen and (max-width : 768px) {
		background: #87af17;
		color: #fff;
		font-family: $bold;
	}
}

.header {
	display: block;
	position: relative;
	width: 100%;
	height: 675px;
	background: url(../img/woods.png) no-repeat center;

	@media only screen and (max-width : 480px) {
		height: 575px;
	}

	h1 {
		padding-top: 300px;
		color: #fff;
		text-align: center;
		font-family: @black;
		font-size: 72px;
		margin: 0;

		@media only screen and (max-width : 1024px) {
			padding-top: 100px;
			background-position: center 40px !important;

			.blog & {
				padding-top: 300px !important;
				background-position: center 220px !important;
			}
		}
		@media only screen and (max-width : 480px) {
			font-size: 52px;
		}

		&:after {
			content: '';
			display: block;
			width: 110px;
			padding-bottom: 0.4em;
			height: 0;
			border-top: 4px solid @light-green;
			margin: 5px auto 0;
		}

		.product & {
			background: url(../img/background-product.png) no-repeat center 240px;
		}
		.about & {
			background: url(../img/background-about.png) no-repeat center 240px;
		}
		.faq & {
			background: url(../img/background-faq.png) no-repeat center 240px;
		}
		.contact & {
			background: url(../img/background-contact.png) no-repeat center 240px;
		}
		.blog & {
			background: url(../img/background-blog.png) no-repeat center 240px;
		}
	}
	p {
		color: #fff;
		font-size: 24px;
		font-family: @italic;
		text-align: center;
	}

	.robin {
		position: absolute;

		.about & {
			right: 0px;
			bottom: 0px;

			@media only screen and (max-width : 1024px) {
				right: 50%;
				bottom: 0px;
				margin-right: -200px;
				width: 400px;
			}
			@media only screen and (max-width : 480px) {
				right: 50%;
				margin-right: -120px;
				bottom: 0px;
				width: 240px;
			}
		}
		.faq & {
			right: 0px;
			bottom: 0px;

			@media only screen and (max-width : 1024px) {
				right: 50%;
				bottom: 0px;
				margin-right: -190px;
				width: 380px;
			}
			@media only screen and (max-width : 480px) {
				right: 50%;
				margin-right: -120px;
				bottom: 0px;
				width: 240px;
			}
		}
		.product & {
			right: 0px;
			bottom: 0px;

			@media only screen and (max-width : 1024px) {
				right: 50%;
				margin-right: -125px;
				bottom: 0px;
				width: 250px;
			}
			@media only screen and (max-width : 480px) {
				right: 50%;
				margin-right: -90px;
				bottom: 0px;
				width: 180px;
			}
		}
	}
}

.navbar-collapse {
	@media only screen and (max-width : 768px) {
		padding: 0 !important;
	}
}

