//
// Home
// --------------------------------------------------

.navbar-brand {
	line-height: 100px !important;
	height: 100px !important;
}
.navbar-nav li {
	background: url(../img/divider-line.png) no-repeat right 35px !important;

	a {
		padding: 37px 27px 10px !important;
	}
}

.home {
	background-color: #97c2dd;

	header {
		position: fixed;
		width: 100%;
		top: 0;
		background-color: #fff;
	}

	.wrapper-full-width {
		padding-top: 108px;
		height: 100%;
	}
}
.paralax-wrapper {
	height: 100%;

	.paralax-scene {
		height: 100%;
	}
}
	
.homepage-fixed-footer {
	position: fixed;
	height: 6px;
	left: 100px;
	bottom: 35px;
	z-index: 1001;

	ul {
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			margin-right: 5px;
			
			a {
				display: block;
				width: 43px;
				padding: 15px 0;
				background: url(../img/slide.png) no-repeat center;

				&.active {
					background: url(../img/current-slide.png) no-repeat center;
				}
			}
		}
	}
}

.home-html {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body.home {
  margin: 0;
  height: 100%;
  background-color: #97c2dd;

  .parallax {
	  display: block;
	}

	.clouds {
	  position: fixed;
	  z-index: 1;
	  left: 0;
	  bottom: 64%;
	  transform: translate3d(0, 0, 0);
	  -webkit-transform: translate3d(0, 0, 0);
	  height: 120px; // Added for smaller screen

	  @media (min-height: 750px) {
	  	height: 180px;
	  	bottom: 60%;
	  }
	  @media (min-height: 900px) {
	  	height: 220px;
	  }
	}

	.bushes {
	  position: fixed;
	  z-index: 4;
	  left: 0;
	  bottom: 126px;
	  transform: translate3d(0, 0, 0);
	  -webkit-transform: translate3d(0, 0, 0);
	  height: 285px; // Added for smaller screen

	  @media (min-height: 750px) {
	  	height: 300px;
	  }
	  @media (min-height: 900px) {
	  	height: 387px;
	  }
	}

	.trees {
	  position: fixed;
	  z-index: 1;
	  left: 0;
	  bottom: 167px;
	  transform: translate3d(0, 0, 0);
	  -webkit-transform: translate3d(0, 0, 0);
	  height: 431px; // Added for smaller screen

	  @media (min-height: 750px) {
	  	height: 525px;
	  	bottom: 170px;
	  }
	  @media (min-height: 900px) {
	  	height: 600px;
			bottom: 197px;
	  }
	  @media (min-height: 1024px) {
	  	height: 710px;
			bottom: 234px;
	  }
	}

	.path {
	  position: fixed;
	  z-index: 1;
	  left: 0;
	  bottom: 0px;
	  transform: translate3d(0, 0, 0);
	  -webkit-transform: translate3d(0, 0, 0);
	}

	@-webkit-keyframes opacity-change{
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-moz-keyframes opacity-change{
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@-o-keyframes opacity-change{
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}
	@keyframes opacity-change{
	  0%   { opacity: 0; }
	  100% { opacity: 1; }
	}

	.goldChest {
		position: absolute;
		z-index: 4;
		left: 100%;
		bottom: 12px;
		width: 487px;
		height: 500px;

		@media (min-height: 900px) {
	  	bottom: 80px;
			width: 580px;
	  }
	  @media (min-height: 1024px) {
	  	bottom: 110px;
			width: 655px;
	  }

		.chest-wrapper {
			.chest-glow {
				position: absolute;
				width: 90%;
				top: 64px;
				left: 27px;
				-webkit-animation: opacity-change 1.5s infinite alternate;
				-moz-animation: opacity-change 1.5s infinite;
				-o-animation: opacity-change 1.5s infinite;
				animation: opacity-change 1.5s infinite;

				@media (min-height: 900px) {
			  	top: 57px;
					left: 13px;
			  }
			  @media (min-height: 1024px) {
			  	top: 48px;
					left: 5px;
			  }
			}
			.chest {
				width: 65%;
				margin-top: 118px;
				margin-left: 85px;
			}
		}
	}

	.slides {
		height: 100%;

		.nav-left {
			position: fixed;
			display: block;
			left: 20px;
			top: 50%;
			margin-top: -25px;
			width: 50px;
			height: 50px;
			background: url(../img/arrows-left-dark.png) no-repeat center;
			z-index: 1001;
		}
		.nav-right {
			position: fixed;
			display: block;
			right: 20px;
			top: 50%;
			margin-top: -25px;
			width: 50px;
			height: 50px;
			background: url(../img/arrows-right-light.png) no-repeat center;
			z-index: 1001;
		}

		.slide {
			height: 100%;
			overflow: hidden;
			position: relative;
		  float: left;
		  z-index: 1001;

		  .slide-text-wrapper {
		  	height: 100%;
		  	position: absolute;
		  	left: 0;
		  	max-width: 500px;
		  	padding: 80px;
		  	background-color: #fff;
		  	z-index: 1;

		  	.slide-header {
		  		color: @grey;
		  		font-family: @black;
		  		font-size: 50px;
		  		line-height: 50px;

		  		&:after {
			      content: '';
			      display: block;
			      width: 70px;
			      padding-bottom: 0.4em;
			      height: 0;
			      border-top: 8px solid #dedfdf;
			      margin: 16px 0;
			   }
			   @media (min-height: 900px) {
				  	font-size: 58px;
						line-height: 58px;
				 }
				 @media (min-height: 1024px) {
				  	font-size: 64px;
						line-height: 64px;
				 }
		  	}
		  	.slide-subheader {
		  		color: @green;
		  		font-family: @black;
		  		font-size: 36px;
		  		line-height: 36px;

		  		@media (min-height: 900px) {
				  	font-size: 42px;
						line-height: 42px;
				  }
				  @media (min-height: 1024px) {
				  	font-size: 48px;
						line-height: 48px;
				  }
		  	}
		  	.instructions {
		  		display: block;
		  		margin-top: 20px;
		  		font-family: @black-italic;
		  		font-size: 24px;
		  		line-height: 24px;
		  		color: #777;

		  		@media (min-height: 900px) {
		  			margin-top: 30px;
				  	font-size: 28px;
						line-height: 28px;
				  }
				  @media (min-height: 1024px) {
				  	margin-top: 40px;
				  	font-size: 32px;
						line-height: 32px;
				  }
		  	}
		  	.learn-more {
		  		display: block;
		  		margin-top: 20px;
		  		font-family: @black;
		  		font-size: 24px;
		  		color: @grey;
		  		text-decoration: underline;

		  		@media (min-height: 900px) {
		  			margin-top: 30px;
				  	font-size: 28px;
						line-height: 28px;
				  }
				  @media (min-height: 1024px) {
				  	margin-top: 40px;
				  	font-size: 32px;
						line-height: 32px;
				  }
		  	}
		  }
		}
	}
		
}
.home .wrapper-full-width .container {
	@media (min-width: @screen-lg-min) { 
		max-width: 1170px;
	}
	
}


/* SLIDE 1 */
.slide-1 {
	background-color: #86a24d;

	.slide-1-text {
		position: absolute;
		width: 38%;
		float: left;
		z-index: 8;

		h1 {
			margin: 80px 0px 20px 0px;
			color: #fff;
			font-size: 36px;
			text-align: left;
			font-family: @black;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			&:after {
				display: none;
			}
			@media (min-height: 900px) {
		  	font-size: 42px;
		  }
		  @media (min-height: 1024px) {
		  	font-size: 60px;
		  }
		}
		h2 {
			margin: 20px 0px 20px;
			color: #fff;
			font-family: @black;
			font-size: 28px;
			text-align: left;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

			@media (min-height: 900px) {
		  	font-size: 34px;
		  }
		  @media (min-height: 1024px) {
		  	font-size: 44px;
		  }
		}
		p, a {
			margin: 0;
			color: #fff;
			font-family: @black;
			font-size: 20px;
			text-align: left;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);

			@media (min-height: 900px) {
		  	font-size: 26px;
		  }
		  @media (min-height: 1024px) {
		  	font-size: 34px;	
		  }
		}
		.google-play-link {
			display: block;
			width: 270px;
			height: 88px;
			background: url(../img/google-play-icon.png) no-repeat center;
			background-size: 100%;

			@media (min-height: 900px) {
		  	width: 325px;
				height: 110px;
		  }
		  @media (min-height: 1024px) {
		  	width: 389px;
				height: 127px;
		  }
		}
	}
	.slide-1-robin {
		position: absolute;
		width: 400px;
		bottom: 250px;
		left: 50%;
		z-index: 4;

		@media (min-height: 900px) {
	  	width: 500px;
	  }
	  @media (min-height: 1024px) {
	  	width: 628px;
	  	bottom: 300px;
	  }
	}
	.slide-1-footer {
		display: block;
		position: absolute;
		bottom: 108px;
		width: 100%;
		height: 150px;
		background-color: #cccccc;
		z-index: 5;

		@media (min-height: 1024px) {
			height: 200px;
	  }

		.companies {
		 	padding: 0;
			list-style: none;

			li {
				float: left;
				width: 16%;

				p {
					display: block;
					margin: 0;
					height: 90px;
					line-height: 90px;
					color: #484747;
					font-size: 20px;
				}
				a {
					display: block;
					text-align: center;
					width: 100%;
					height: 90px;

					&.company-1 {
						background: url(../img/company-1.png) no-repeat center;
					}
					&.company-2 {
						background: url(../img/company-2.png) no-repeat center;
					}
					&.company-3 {
						background: url(../img/company-3.png) no-repeat center;
					}
					&.company-4 {
						background: url(../img/company-4.png) no-repeat center;
					}
					&.company-5 {
						background: url(../img/company-5.png) no-repeat center;
					}
				}
			}
		}
	}
}

/* SLIDE 2 */
.slide-2 {
	.slide-2-robin {
		height: 500px;
		position: absolute;
		left: 400px;
		bottom: 150px;
		z-index: 2;

		@media (min-height: 900px) {
	  	height: 600px;
	  }
	  @media (min-height: 1024px) {
	  	height: 750px;
	  }
	}
}

/* SLIDE 3 */
.slide-3 {
	.slide-3-robin {
		height: 500px;
		position: absolute;
		left: 400px;
		bottom: 150px;
		z-index: 2;

		@media (min-height: 900px) {
	  	height: 570px;
	  }
	  @media (min-height: 1024px) {
	  	height: 613px;
	  }
	}
}

/* SLIDE 4 */
.slide-4 {
	.popup {
		display: table;
		position: relative;
		width: 630px;
		background-color: #99c32a;
		height: 20%;
		margin-top: 11px;
		box-sizing: border-box;
		padding: 20px 125px 20px 20px;
		-webkit-transition: all 1s ease;
	  -moz-transition: all 1s ease;
	  -o-transition: all 1s ease;
	  -ms-transition: all 1s ease;
	  left: 0;

	  @media (min-height: 900px) {
	  	padding: 20px 120px 20px 20px;
	  	height: 21%;
			margin-top: 14px;
	  }
	  @media (min-height: 1024px) {
	  	margin-top: 21px;
	  }

	  &.move {
	  	left: 500px;
	  }

		p {
			display: table-cell;
			vertical-align: middle;
			color: #fff;
			font-family: @black;
			font-size: 27px;

			@media (min-height: 900px) {
		  	font-size: 30px;
		  }
		  @media (min-height: 1024px) {
		  	font-size: 36px;
		  }
		}
		span {
			position: absolute;
			right: 20px;
			color: #fff;
			font-family: @black;
			font-size: 65px;
			top: 25px;

			@media (min-height: 900px) {
		  	font-size: 74px;
				top: 40px;
		  }
		  @media (min-height: 1024px) {
		  	font-size: 82px;
				top: 54px;
		  }
		}
	}
	.popup-1 {
		margin-top: 0;
	}
}

/* SLIDE 5 */
.slide-5 {
	.slide-5-robin {
		height: 420px;
		position: absolute;
		left: 476px;
		bottom: 280px;
		z-index: 2;

		@media (min-height: 900px) {
	  	height: 450px;
	  }
	  @media (min-height: 1024px) {
	  	
	  }
	}
}

/* SLIDE 6 */
.slide-6 {
	.signpost {
		position: absolute;
		left: 476px;
		bottom: 217px;
		height: 285px;
		width: 300px;
		background: url(../img/sign-slide-6.png) no-repeat top center;
		background-size: cover;
		z-index: 2;

		@media (min-height: 900px) {
	  	height: 390px;
			width: 410px;
	  }
	  @media (min-height: 1024px) {
	  	height: 534px;
			width: 558px;
	  }

		a {
			display: block;
			width: 200px;
			height: 83px;
			margin-top: 50px;
			margin-left: 23px;
			background: url(../img/google-play-slide-6.png) no-repeat top center;
			background-size: cover;

			@media (min-height: 900px) {
		  	width: 280px;
				height: 117px;
				margin-top: 66px;
				margin-left: 25px;
		  }
		  @media (min-height: 1024px) {
		  	width: 385px;
				height: 160px;
				margin-top: 88px;
				margin-left: 35px;
		  }
		}
	}
}

/* SLIDE 7 */
.slide-7 {
	.right-form {
		position: absolute;
		left: 500px;
		right: 0;
		height: 100%;
		background-color: rgba(255,255,255,0.5);

    .the-form {
    	width: 500px;
    	height: 500px;
    	margin: 100px auto;

    	@media (min-height: 1024px) {
		  	width: 675px;
		  	height: 600px;
		  }

    	input {
    		width: 100%;
			  padding: 12px 12px;
			  margin-bottom: 20px;
			  border: 0;
			  border-radius: 0px;
			  font-family: @bold;
			  font-size: 18px;
			  color: #a3a2a2;

			  @media (min-height: 900px) {
			  	padding: 14px 12px;
			  	font-size: 24px;
			  }
			  @media (min-height: 1024px) {
			  	padding: 20px 20px;
					font-size: 36px;
			  }
    	}
    	.right {
    		width: 170px;

    		@media (min-height: 900px) {
			  	width: 210px;
			  }
			  @media (min-height: 1024px) {
			  	
			  }

    		.join {
	    		float: right;
	    		padding: 25px 35px;
	    		margin-bottom: 20px;
	    		color: #fff;
	    		font-family: @bold;
	    		font-size: 30px;
	    		background-color: #99c32a;

	    		@media (min-height: 900px) {
				  	padding: 15px 65px;
				  	font-size: 40px;
				  }
				  @media (min-height: 1024px) {
				  	padding: 15px 100px;
						font-size: 46px;
				  }
	    	}
	    	.back {
	    		float: right;
	    		color: #838484;
	    		font-family: @bold;
	    		font-size: 30px;
	    		text-decoration: underline;

	    		@media (min-height: 900px) {
				  	font-size: 38px;
				  }
				  @media (min-height: 1024px) {
				  	font-size: 42px;
				  }
	    	}
    	}
    }
	}
}

/* CSS FOR CUSTOM SELECT BOXES */

.customSelect {
  width: 100%;
  padding: 12px 12px;
  margin-bottom: 20px;
  border: 0;
  border-radius: 0px;
  font-family: @bold;
  font-size: 18px;
  color: #a3a2a2;
  background: #fff url(../img/select.png) no-repeat 95% center;
  background-size: 30px;
  @include prefix("box-sizing", "border-box");

  @media (min-height: 900px) {
  	padding: 14px 12px;
  	font-size: 24px;
  	background-size: 40px;
  }
  @media (min-height: 1024px) {
  	padding: 20px 20px;
		font-size: 36px;
		background-size: 55px;
  }
}
.customSelectInner {
  width: 100% !important;
  color: #a3a2a2;
}




	